<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Data Capture</title>
</head>
<body>
	<h3 style="color:red;"> Welcome to Data Capture  (Only IP Contained) </h3>
	<h2 >IBM</h2>
	<ul>
		<li>
			<a href="/test/?id=1">
				[ibm] ip report data
			</a>
		</li>
		<li>
			<a href="/test2/">
				[ibm] category ip
			</a>
		</li>
		<li>
			<a href="/test3/">
				[ibm] resolve ip dns url
			</a>
		</li>
		<li>
			<a href="/test4/">
				[ibm] get malware from ip
			</a>
		</li>
	</ul>
	<h2>Virustotal</h2>
	<ul>
		<li>
			<a href="/test5/">
				[Virustotal] ip report data
			</a>
		</li>
	</ul>
	<h2>Cymon</h2>
	<ul>
		<li>
			<a href="/test6/">
				[Cymon] ip report data
			</a>
		</li>
	</ul>
	<a href="/clickme/">
		<span style="color:red;">
			Click Me!!!
		</span>
	</a>
</body>
</html>